<div class="container-fluid" *ngIf="isLoading&&!room">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader>
        </div>
        <div class="card-body">
          <h5 class="card-title"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></h5>
          <p class="card-text"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'50%',height: '25px' }"></ngx-skeleton-loader></p>
          <p class="card-text"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'10%',height: '25px' }"></ngx-skeleton-loader></p>
          <a   style="widows: 500px;height: 50px;"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'10%',height: '50px' }"></ngx-skeleton-loader></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12" *ngIf="room">
      <div class="card">
        <div class="card-header">
          Unit Name: {{room.name}}
        </div>
        <div class="card-body">
          <h2 class="card-title">EcMember:<a [routerLink]="['../../../userView',room.ownersId.userId._id]">{{room?.ownersId?.userId?.name}}</a></h2>
          <h5 class="card-title">Apartment:<a [routerLink]="['../../../building',room?.building._id]">{{room.building.name}}</a></h5>
          <p class="card-text">Address: {{room.address}}</p>
          <p class="card-text" *ngIf="room.tenantId">tenant Name:<a [routerLink]="['../../../userView',room.tenantId.userId._id]">{{room.tenantId.userId.name}}</a></p>
          <p class="card-text" *ngIf="!room.tenantId">tenant Name: No Tenant</p>
        </div>
        <div class="card-footer" *ngIf="type==0">
          <button  class="btn btn-success"*ngIf="!room.status" (click)="statusChange()" >UnBlock</button>
          <button  class="btn btn-danger" *ngIf="room.status" (click)="statusChange()">  Block</button>
        </div>
      </div>
    </div>
  </div>
</div>