<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col">
            <textarea class="form-control" placeholder="Notification text"></textarea>
          </div>
          <div class="col">
            <input type="file" class="form-control" (change)="fileChange($event)">
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)='submit()'>Send to Selected</button>
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12" *ngFor="let user of users let i = index">
        <div class="card">
          <div class="card-header">
            <h1> name:{{user.name}}</h1>
            <div class="formGroup">
              <input type="checkbox" class="form-control" name="{{i}}" [(ngModel)]="userIdsCheckBoxes[i]">
            </div>
          </div>
          <div class="card-body">
            <p>Email:{{user.email}}</p>
            <p>{{user.userType|type}}</p>
            <p *ngIf="!user.status">Blocked</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>