<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header"><h5 class="m-b-0">Apartment</h5></div>
                <div class="card-body text-center">
                    <p>Apartment </p>
                    <label  class="btn btn-primary count">View <span class="badge">10</span></label>
                </div>
                
            </div>
        </div>
        <!-- <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header"><h5 class="m-b-0">Apartments</h5></div>
                <div class="card-body text-center">
                    <p>Apartments </p>
                    <label  class="btn btn-primary count">Owned <span class="badge">12</span></label>
                </div>
                
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header"><h5 class="m-b-0">Tenants</h5></div>
                <div class="card-body text-center">
                    <p>Tenants </p>
                    <label  class="btn btn-primary count">Owned <span class="badge">4</span></label>
                </div>
                
            </div>
        </div> -->
    </div>
</div>