
<div class="container-fluid" *ngIf="!building&&isLoading">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></h5>
            <p class="card-text"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'50%',height: '25px' }"></ngx-skeleton-loader></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></li>
            <li class="list-group-item"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'30%',height: '25px' }"></ngx-skeleton-loader></li>
            <li class="list-group-item"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'23%',height: '25px' }"></ngx-skeleton-loader></li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></a>
            <a href="#" class="card-link"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></a>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="building&&!isLoading">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{building.name}}</h5>
            <p class="card-text">Address:{{building.address}}</p>
            <p class="card-text">Oc Admin:{{building.ownersId.userId.name}}</p>
            <p class="card-text" *ngIf="building.agentId">Agent: {{building.agentId.userId.name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let room of building.rooms">
              <a [routerLink]="['../../room/view',room?.roomId?._id]">Unit:{{room?.roomId?.name}}</a>
            </li>
          </ul>
          <div class="card-footer" *ngIf="type ==0">
            <button class="btn btn-danger" *ngIf="building.status" (click)="statusChange()">Block</button>
            <button class="btn btn-danger" *ngIf="!building.status" (click)="statusChange()">UnBlock</button>
          </div>
        </div>
    </div>
  </div>
</div>
