<div class="container-fluid" *ngIf="isLoading&&!rooms">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12" *ngFor="let test of [1,2,3,4,5,6,7]" >
      <div class="card">
        <div class="card-header">
          <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader>
        </div>
        <div class="card-body">
          <h5 class="card-title"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'25%',height: '25px' }"></ngx-skeleton-loader></h5>
          <p class="card-text"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'50%',height: '25px' }"></ngx-skeleton-loader></p>
          <p class="card-text"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'10%',height: '25px' }"></ngx-skeleton-loader></p>
          <a   style="widows: 500px;height: 50px;"><ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '2px', width:'10%',height: '50px' }"></ngx-skeleton-loader></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12" *ngFor="let room of rooms">
      <div class="card">
        <div class="card-header">
          Room Name
        </div>
        <div class="card-body">
          <h2 class="card-title">EcMember:{{room?.ownersId?.userId?.name}}</h2>
          <h5 class="card-title">Building:{{room.building.name}}</h5>
          <p class="card-text">Address: {{room.address}}</p>
          <p class="card-text">tenant Name:{{room.tenantId?room.tenantId:'no tenant'}}</p>
          <button  class="btn btn-danger" *ngIf="type==2" (click)="RemoveTenant(room._id)">Remove tenant</button>
        </div>
      </div>
    </div>
  </div>
</div>