
<div class="container-fluid">
  <div class="row-fluid" *ngIf="complains&&complains.length==0">
    <div class="col-12 col-md-12 col-sm-12" >
      <div class="alert alert-warning" role="alert">
        No Record To Show
      </div>
    </div>
  </div>
  <div class="row-fluid" *ngFor="let complain of complains">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="card">
        <div *ngIf="complain.url">
          <img *ngIf="checkImageExtension(complain.url)" src="{{complain.url}}"/>
          <mat-video *ngIf="checkVideoExtension(complain.url)" src="{{complain.url}}"></mat-video>
          <a class="btn btn-success" *ngIf="!checkVideoExtension(complain.url)&&!checkImageExtension(complain.url)" href="{{complain.url}}">Download file</a>
        </div>
        <div class="card-header">
          Notification:{{complain.notification}}
        </div>
        <div class="card-body">
          <p class="card-text">User Name:<a [routerLink]="['../userView',complain.userId._id]" >{{complain.userId.name}}</a></p>
          <p class="card-text">Type Name:{{complain.userId.userType|type}}</p>
        </div>
       
      </div>
    </div>
  </div>
</div>